

<div clas="container-flex">
    <div class="row" id="head">

        <app-header></app-header>
        
    </div>
    <div class="row" id="principal">
        <div class="col-6">

            <app-acordion></app-acordion>

        </div>
        <div class="col-6">
            
         <app-centro></app-centro>
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row" id=""></div>
    <div class="row" id="inferior">

        <app-inferior></app-inferior>

    </div>

    <div class="row" id="footer">
        <app-footer></app-footer>
    </div>
</div>


<router-outlet></router-outlet>


