/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
#cp{
    padding: 0;
    border: 0;
    bottom: 0;
    background-color: whitesmoke;
}