<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  </style>


<div class="container-fluid">
    <form [formGroup]="formulariocontacto" (ngSubmit)="enviarInfo()" >
    <div class="mb-3">
        
        <label for="" class="form-label">Contáctenos</label>
        <input type="text"
            class="form-control form-control-sm" formControlName="nombreyapellido" id="" aria-describedby="helpId" placeholder="Nombre y Apellido">
        <small id="helpId" class="form-text text-muted">Help text</small><br><br>


        <input type="email"
            class="form-control form-control-sm" formControlName="correo" id="" aria-describedby="helpId" placeholder="Email">
        <small id="helpId" class="form-text text-muted">Dejanos el email donde queres que nos comuniquemos con vos</small><br><br>

        <input type="text"
            class="form-control form-control-sm" formControlName="comentario" id="" aria-describedby="helpId" placeholder="Comentario">
        <small id="helpId" class="form-text text-muted">Dejanos aca todo los que nos quieras decir</small><br><br>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>


</div>
